<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" context="Konsulter Internship Project">
    <meta property="og:description" content="A user/inventory management system made as an assessment project for Konsultera internship programme.">
    <meta name="description" content="A Django and Vanilla JS based approad to inventory and user management by Abhishek Iyengar.">
    <meta name="author" content="Abhishek Iyengar">
    <meta name="keywords" content="konsultera, internship, inventory, management, customer, administrator, users, images, cart, management,checkout, products, prices, dynamic,Vanilla, JS, javascript, django, latest, html, css, bootstrap4, abhishek,iyengar,itern, job, data, API, REST, student, masters, computer, science, india, beautiful, responsive, all platforms,windows,android,ios,apple,mac,linux">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'ogflamerounded.png' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="{% static 'hover-min.css' %}">
    <script>
        function getToken(name) {
            let user = '{{request.user}}'
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
    <title>
        {%if title %}
            {{title}}
        {%else%}
            Welcome | Konsultera
        {%endif%}
    </title>
  </head>
  <body>
    <!-- NAVBAR START -->
    <section id="header">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow">
                {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'listing' %}">
                    <img style="border-radius: 50%" src="{% static 'ogflame.png' %}" height="30px" width="30px">
                </a>
                {% else %}
                <a class="navbar-brand" href="{% url 'register' %}">
                    <img style="border-radius: 50%" src="{% static 'ogflame.png' %}" height="30px" width="30px">
                </a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'listing' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.profile.usertype == 'User' %}
                        <li class="nav-item">
                            <a class="only-cart nav-link" href="{% url 'cart' %}">My Cart</a>
                        </li>
                        {%endif%}
                    </ul>
                    <div class="ml-auto px-2">
                        {% if user.profile.usertype == 'User' %}
                        <a class="container mx-5 cart-n-number" href="{% url 'cart' %}">
                            <i class="fas fa-shopping-cart"></i>
                            <span id="cart_items">0</span>
                        </a>
                        {%endif%}
                        
                    </div>
                    <a class="btn btn-danger float-right nav-link" title="Manage your cart!" href="{% url 'logout' %}" title="Logout!">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'register' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary ml-auto nav-link" title="Login to your account" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    {% endif %}
                </div>
            </nav>
        </header>
    </section>
    <!-- NAVBAR END -->
    <!-- SECTION FOR THE FLASH MESSAGES -->
    <section id="messages">
        {% if messages %}
            {% for message in messages %}
                <div style="width:fit-content; position: absolute; top:30; right:0; z-index:2" class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </section>
    <!-- MAIN BLOCK START. -->
    <section id="main">
        {% block body %}

        {% endblock %}
    </section>
    <!--MAIN BLOCK END-->
    <!-- FOOTER AND NAVBAR -->
    <section class="sticky bottom" id="footer">
        <footer>
            <nav class="navbar w-100 navbar-expand-sm navbar-light text-white bg-dark">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav" style="margin: auto;">
                    <h6>Made with <span class="fas fa-heart" style="color: red"></span> by <a style="color:#d6a4f5" href="https://github.com/tinshade">Abhishek Iyengar</a></h6>
                </div>
                </div>
            </nav>
        </footer>
    </section>
    <!-- BOOTSTRAP JS FILES -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/cart.js' %}"></script>
    
  </body>
</html>