{% extends 'base.html' %}
{% block body %}
{% load static %}
    <section>
        <div class="jumbotron jumbotron-fluid text-center container-login100">
            <div class="container">
                <h1 class="display-1"> Your Cart </h1>
                <p class="lead">Manage your cart &amp; checkout!</p>
                <br/><br/>
                <a href="#items_cart" class="p-3 hrv-glow bg-white" style="border-radius: 50%;">
                    <i class="fas fa-chevron-down p-2"></i>
                </a>
            </div>
        </div>
        <div class="container my-5 p-5 border border-success rounded shadow">
            <table class="table border table-hover" >
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Available</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="items_cart">
                    {%for item in items%}
                    <tr id="tr_{{forloop.counter}}">
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <img height="100px" width="100px" src="{{item.product.product_image.url}}" alt={{item.product.product_name}} />
                        </td>
                        <td>
                            {{item.product.product_name}}
                        </td>
                        <td>
                            ₹{{item.product.product_price}}
                        </td>
                        <td id="availableQty_{{item.product.pk}}">
                            {{item.product.product_remaining}}
                        </td>
                        <td>
                            <input
                                type="number"
                                value = {{item.quantity}}
                                max = {{item.product.product_quantity}}
                                id = "qty_{{item.product.pk}}"
                                onchange = "updateUserOrder( {{item.product.pk}}, 'custom', this.value)"
                            />
                        </td>
                        <td>
                            ₹<span id="newTotal_{{item.product.pk}}">{{item.get_total}}</span>
                        </td>
                        <td>
                            <button class="btn remove-item" data-product="{{item.product.pk}}" data-counter="{{forloop.counter}}" title="Remove this item">
                                <i class="fas fa-trash text-danger hvr-wobble-horizontal"></i>
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="container-fluid d-flex mb-4 flex-row-reverse">
                <div class="text-right hvr-underline-reveal px-3">
                    <small class="text-muted">Grand Total</small>
                    <h5>₹<span id="grand_total">{{orders.get_grand_total}}</span></h5>
                </div>
                <div class="mx-4 text-right hvr-underline-reveal px-3">
                    <small class="text-muted">Total Items</small>
                    <h5 id="grand_items">{{orders.get_cart_items}}</h5>
                </div>
            </div>
            {% if orders.get_cart_items > 0 %}
            <div id="checkout_div" class="pt-5 pb-3 border-top">
                <button class="btn hvr-wobble-vertical float-right btn-outline-success">Proceed to Checkout</button>
            </div>
            {%endif%}
        </div>
        <br/><br/><br/><br/>
    </section>
{% endblock %}