@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin:0px;
    padding:0px;
}
html,body{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Bryndan_White';
    src: local('pyoff'),
         url('../static/fonts/pyoff.ttf') format("truetype");
  }

.pyog{
    font-family: 'Bryndan_White' !important;
}

.inpdes{
    width: 100%;
    text-decoration: none;
    color: #44aeff;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px; 
    height: 45px;
    margin-bottom: 20px;
    font-weight: 600;
}
video {
    width: 100% !important;
    height: auto;
  }
  
textarea{
    width: 100%;
    text-decoration: none;
    color: #44aeff;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px; 
    margin-bottom: 20px;
    font-weight: 600;
    resize: none;
}

.form-controler{
    margin: 20px;
}
.form-controler input{
    width: 100%;
    text-decoration: none;
    color: #44aeff;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px; 
    height: 45px;
    box-shadow: 0px 1px 15px gray;
    outline: none !important;
}

.form-controler select{
    width: 100%;
    text-decoration: none;
    color: #44aeff;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px; 
    height: 45px;
    box-shadow: 0px 1px 15px gray;
    outline: none !important;
}

.form-controler input[type=checkbox]{
    padding-left: 0px;
    padding: 0px;
    color: #44aeff;
    border: none;
    border-radius: 15px;
    height: 15px;
    width: 2%;
    box-shadow: 0px 1px 15px gray;
    outline: none !important;
}

.form-controler textarea{
    width: 100%;
    text-decoration: none;
    color: #44aeff;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding: 10px; 
    margin-bottom: 20px;
    resize: none;
    box-shadow: 0px 1px 15px gray;
    outline: none !important;
}

.form-controler label{
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
}
.form-controler ul{
    list-style-type: none;
    color: rgb(204, 43, 43);
    padding-left:10px;
    margin-bottom: 2px;
    font-size: 0.7rem;
    text-align: left;
}

.form-controler span{
    padding: 10px;
    color: rgb(204, 43, 43);
    margin-bottom: 2px;
    font-size: 0.7rem;
}

hr{
    background-color: aquamarine;
    margin: 0 auto;
    width: 50%;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: rgb(4, 190, 207);
}

::-webkit-scrollbar-thumb:hover{
	background-color: rgb(4, 190, 207);
}

/*CUSTOM SELECTION TEXT*/
::-moz-selection {
	background: rgba(4, 190, 207, 0.6);
	color: white;
}
::selection {
	background: rgba(4, 190, 207, 0.6);
	color: white;
}

.lightdiv{
    transition: all 0.3s ease 0s;
    background-color: white;
}

.lightdiv:hover{
    box-shadow: 0px 1px 15px aquamarine !important;
    transform: translateY(-7px);
    z-index: 20;
}

.display-1{
    font-size: 4.5rem !important;
}

.display-2{
    font-size: 4rem !important;
}
.display-4{
    font-size: 2.5rem !important;
}
.display-5{
    font-size: 2rem !important;
    font-weight: 200 !important;
}
.card-header{
    background-color: transparent !important;
    outline: none !important;
    border-bottom : none !important;
}

.card{
    border: none !important;
    border-radius: 15px !important;
    background-color: white !important;
}

.modal-header{
    border-bottom: none !important;
}
.modal-footer{
    border-top: none !important;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}


.lform input{
    border-radius: 15px;
    padding: 0.8em 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.lform input[type=password]{
    border-radius: 15px;
    padding: 0.8em 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.lform button{
    padding: 15px !important;
    border-radius: 15px !important;
    box-shadow: 0px 5px 24px rgb(220,111,242) !important;
    transition: transform 0.35s ease-in-out;
    font-weight: 700;
    background-color: rgb(220, 111, 242) !important; 
    color: white !important;
}

.lform button:hover{
    color: rgb(220, 111, 242) !important;
    background-color: cornsilk !important;
    transform: translateY(-7px);

}

.lform label{
    display: none !important; 
}

.nav-link{
    text-transform: uppercase !important;
}


img{
    pointer-events: none !important;
}

#footer{
    width: 100%;
}
.alert{
    margin-bottom: 0px;
}
